# Ruta de las carpetas
BASE_DIR=C:/Users/carlo/Downloads/equipos/cats
FINAL_PDF_DIR=C:/Users/carlo/Downloads/equipos/finalpdf

# Configuración de Poppler (opcional si está en PATH)
POPPLER_PATH=./poppler-0.68.0/bin
